{% extends "base.html" %}
{% load static %}

{% block title %}Fresh Everyday - Login{% endblock title %}

{% block content %}
	<div class="login_top clearfix">
		<a href="{% url 'goods:index' %}" class="login_logo"><img src="{% static 'images/logo02.png' %}"></a>	
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">Day and night, fast delivery</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>User login</h1>
					<a href="{% url 'users:register' %}">Sign up now</a>
				</div>
				<div class="form_input">
					<form method="post">
						{% csrf_token %}
						<input type="text" name="username" class="name_input" placeholder="please enter user name">
						<div class="user_error">Input error</div>
						<input type="password" name="pwd" class="pass_input" placeholder="please enter password">
						<div class="pwd_error">Input error</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="">
							<label>Remember Account Name</label>
							<a href="#">forget the password</a>
						</div>
						<input type="submit" name="" value="login" class="input_submit">
					</form>
				</div>
				{{ errmsg }}
			</div>
		</div>
	</div>

{% endblock content %}