<div class="navbar_con">
    <div class="navbar clearfix">
        <div class="subnav_con fl">
            <h1>All Categories</h1>
            <span></span>			
            <ul class="subnav">
                {% for type in types %}
                <li><a href="{% url 'goods:list' type.id 1 %}" class="{{ type.logo }}">{{ type.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <ul class="navlist fl">
            <li><a href="{% url 'goods:index' %}">Index</a></li>
            <li class="interval">|</li>
            <li><a href="">mobile fresh</a></li>
            <li class="interval">|</li>
            <li><a href="">lottery</a></li>
        </ul>
    </div>
</div>

<div class="breadcrumb">
    <a href="#">All Categories</a>
    {% if goods.type.name %}
    <span>></span>
    <a href="#">{{ goods.type.name }}</a>
    {% endif %}
    <span>></span>
    <a href="#">product details</a>
</div>