
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>ShopEase-Index</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>

</head>
<body>

    
	<div class="header_con">
    <div class="header">
        <div class="welcome fl">Welcome to ShopEase!</div>
        <div class="fr">
            
            <div class="login_btn fl">
                <a href="/user/login">Log in</a>
                <span>|</span>
                <a href="/user/register">Register</a>
            </div>
            
            <div class="user_link fl">
                <span>|</span>
                <a href="/user/">User Center</a>
                <span>|</span>
                <a href="/cart/">My shopping cart</a>
                <span>|</span>
                <a href="/user/order/1">My Order</a>
            </div>
        </div>
    </div>		
</div>

	
<div class="search_bar clearfix">
    <a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
    <div class="search_con fl">
        <form method="get" action="/search">
            <input type="text" class="input_text fl" name="q" placeholder="Search product" value="">
            <input type="submit" class="input_btn fr" name="" value="Search">
        </form>
    </div>
    <div class="guest_cart fr">
        <a href="/cart/" class="cart_name fl">My shopping cart</a>
        <div class="goods_count fl" id="show_count">0</div>
    </div>
</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">All Categories</h1>
			<ul class="navlist fl">
				<li><a href="">Front page</a></li>
				<li class="interval">|</li>
				<li><a href="">New Arrivals</a></li>
				<li class="interval">|</li>
				<li><a href="">Lottery</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			
			<li><a href="#model01" class="camera">Camera</a></li>
			
			<li><a href="#model02" class="mobile">Mobile</a></li>
			
			<li><a href="#model03" class="laptop">Laptop</a></li>
			
			<li><a href="#model04" class="watches">Watches</a></li>
			
			<li><a href="#model05" class="tablets">Tablets</a></li>

			<li><a href="#model06" class="headphones">Headphones</a></li>
			
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				
				<li><img src="http://127.0.0.1:9000/local-media/index/goods009.jpg" alt="slideshow1"></li>
				
				<li><img src="http://127.0.0.1:9000/local-media/index/goods002.jpg" alt="slideshow2"></li>
				
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			
			<a href="#"><img src="http://127.0.0.1:9000/local-media/index/activity1.jpg"></a>
			
			<a href="#"><img src="http://127.0.0.1:9000/local-media/index/activity2.jpg"></a>
			
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">Camera</h3>
			<div class="subtitle fl">
				<span>|</span>
				
			</div>
			<a href="#" class="goods_more fr" id="camera_more">See more ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="http://127.0.0.1:9000/local-media/group1/M00/00/00/rBCzg1oKeNKAEl87AAAmv27pX4k4942898"></div>
			<ul class="goods_list fl">
				
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">Mobiles</h3>
			<div class="subtitle fl">
				<span>|</span>
				
			</div>
			<a href="#" class="goods_more fr" id="mobile_more">See more ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="http://127.0.0.1:9000/local-media/group1/M00/00/00/rBCzg1oKeWCAOQBsAABHr3RQqFs4497074"></div>
			<ul class="goods_list fl">
				
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">Laptop</h3>
			<div class="subtitle fl">
				<span>|</span>
				
			</div>
			<a href="#" class="goods_more fr" id="laptop_more">See more ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="http://127.0.0.1:9000/local-media/group1/M00/00/00/rBCzg1oKeZ6AA5HjAAAy1Tlm9So7276786"></div>
			<ul class="goods_list fl">
				
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">Watches</h3>
			<div class="subtitle fl">
				<span>|</span>
				
			</div>
			<a href="#" class="goods_more fr" id="watches_more">See more ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="http://127.0.0.1:9000/local-media/group1/M00/00/00/rBCzg1oKebaAcEWVAAAqR4DoSUg3788077"></div>
			<ul class="goods_list fl">
				
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">:</h3>
			<div class="subtitle fl">
				<span>|</span>
				
			</div>
			<a href="#" class="goods_more fr" id="tablets_more">See more ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="http://127.0.0.1:9000/local-media/group1/M00/00/00/rBCzg1oKediAdUaaAAA-0ZoYkpM9419116"></div>
			<ul class="goods_list fl">
				
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">headphones</h3>
			<div class="subtitle fl">
				<span>|</span>
				
			</div>
			<a href="#" class="goods_more fr" id="headphones_more">See more ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="http://127.0.0.1:9000/local-media/type/slide.jpg"></div>
			<ul class="goods_list fl">
				
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model07">:</h3>
			<div class="subtitle fl">
				<span>|</span>
				
			</div>
			<a href="#" class="goods_more fr" id="2_more">See more ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="http://127.0.0.1:9000/local-media/type/slide03.jpg"></div>
			<ul class="goods_list fl">
				
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model08">:</h3>
			<div class="subtitle fl">
				<span>|</span>
				
			</div>
			<a href="#" class="goods_more fr" id="2_more">See more ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="http://127.0.0.1:9000/local-media/type/slide04.jpg"></div>
			<ul class="goods_list fl">
				
			</ul>
		</div>
	</div>



	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">About Us</a>
			<span>|</span>
			<a href="#">Contact Us</a>
			<span>|</span>
			<a href="#">Recruit people</a>
			<span>|</span>
			<a href="#">Links</a>
		</div>
		<p>CopyRight © 2023 ShopEase E-commerce Company, Ltd. All Rights Reserved</p>
		<p>Contact：017-****888 </p>
	</div>
	
</body>
</html>