{% extends 'layout.html' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading"> Modify</div>
        <div class="panel-body">
            <form class="form-horizontal" action="/overview/modif/?id={{ id }}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Model name</label>
                    <div class="col-sm-10">
                        <input type="text" value="{{ name }}" class="form-control" id="name" name="name" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="origin" class="col-sm-2 control-label">Lanuch Date</label>
                    <div class="col-sm-10">
                        <input type="text" value="{{ origin }}" class="form-control" id="origin" name="origin"
                               placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="manufacturingSince" class="col-sm-2 control-label"> Platform </label>
                    <div class="col-sm-10">
                        <select class="form-control rounded">
                            {% for item in platform_list %}
                                <option value="{{ item.0 }}">{{ item.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Brand</label>
                    <div class="col-sm-10">
                        <select class="form-control rounded">
                            {% for item in brand_list %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Confirm to Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>




{% endblock %}








