{% extends 'layout.html' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading"> Add One New Class</div>
        <div class="panel-body">
            <form class="form-horizontal" action="/overview/add/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Start Time</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="origin" class="col-sm-2 control-label">Class Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="origin" name="origin" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="manufacturingSince" class="col-sm-2 control-label">Class locations</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="manufacturingSince" name="manufacturingSince" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Confirm to Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>




{% endblock %}







