{% extends 'layout.html' %}
{% block content %}

<div class="container">
    <div style="margin-bottom: 5px;">
        <a class="btn btn-success" href="/overview/add/"> My Registered Class</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Class No.</th>
                <th>Start Time</th>
                <th>Class Name</th>
                <th>class locations</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.origin }}</td>
            <td>{{ obj.manufacturingSince }}</td>
            <td>
                <a href="/overview/modif/?id={{ obj.id }}" class="btn-success btn-xs" style="margin-right: 10px;"> Register </a>


            </td>

        </tr>
        {% endfor %}

        </tbody>



    </table>


</div>

{% endblock %}



